@import url(http://fonts.googleapis.com/css?family=Monoton);

@monoton: 'Monoton', cursive;

@helvetica: "Helvetica Neue",Helvetica,Arial,sans-serif;

@bgc: rgba(255, 255, 255, 0.75);

h1, h2, h3 {
  margin-top: 0px;
  margin-bottom: 10px;
}

th {
  text-align: center;
}

.btn-default, .noUi-handle {
  background-color: #eee;
}

a.navbar-brand {
  font-family: @monoton;
}

.navbar-default, .page-header {
  background-color: @bgc;
  margin-bottom: 0px;
}

body {
  background-image: url('/img/bg.jpg');
}

.page-header {
  text-align: center;
  margin-top: 0px;
}

.jumbotron {
  font-family: @monoton;
  text-align: center;
  background-color: @bgc;
  margin-top: 70px;
  padding-top: 24px;
  padding-bottom: 24px;
  h4 {
    font-family: @helvetica;
    color: red;
  }
  button{
    font-family: @helvetica;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}

.panel-title {
  text-align: center;
  background-color: @bgc;
}

.modal-content {
  background-color: @bgc;
  text-align: center;
  .submit {
    font-family: @monoton;
    padding: 1em;
    border-radius: 6px;
  }
}

.col-md-3, .table {
  background-color: @bgc;
  text-align: center;
  margin-top: 10px;
}

.container {
  width: 100%;
}

.slider.noUi-target.noUi-ltr.noUi-horizontal.noUi-background {
  margin-top: 2.5em;
  margin-bottom: 2em;
}

footer {
  position:fixed;
  height:70px;
  bottom:0px;
  left:0px;
  right:0px;
  margin-top: 2em;
  margin-bottom:0px;
  background-color: rgba(255, 255, 255, 0.25);
  p {
    padding: 2em 1em 1em 2em;
    height: 1em;
    font-family: @monoton;
  }
}

#message a {
  color: red;
  font-weight: bold;
}

input#searchInput.form-control{
  width: 200px;
}

ul#searchbar.dropdown-menu {
  left: 46%;
}

ul#tp.dropdown-menu {
  min-width: 4.5em;
}

.row {
  margin-bottom: .5em;
  margin-top: 1.5em;
}

#genrebutton, select {
  font-weight: bold;
}

.slider label {
  position: relative;
  float: left;
  bottom: 1.25em;
  font-size: 2em;
  color: rgba(0, 0, 0, .5);

}

tr.ui-selected {
  background-color: red;
}

@media (max-width:767px) {
  #songsButton {
    width: 50%;
    float: left;
  }
}

@media (max-width:767px) {
  a.navbar-brand {
    display: none;
  }
}

@media (max-width:800px) {
  a.glyphicon.glyphicon-user {
    display: none;
  }
}
