@import url(http://fonts.googleapis.com/css?family=Monoton);

h1, h2, h3 {
  margin-top: 0px;
  margin-bottom: 10px;
}

th {
  text-align: center;
}

.btn-default, .noUi-handle {
  background-color: #eee;
}

a.navbar-brand {
  font-family: 'Monoton', cursive;
}

.navbar-default, .page-header {
  background-color: rgba(255, 255, 255, 0.75);
  margin-bottom: 0px;
}

body {
  background-image: url('/img/bg.jpg');
}

.page-header {
  text-align: center;
  margin-top: 0px;
}

.jumbotron {
  font-family: 'Monoton', cursive;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.75);
  margin-top: 70px;
  padding-top: 24px;
  padding-bottom: 24px;
  button{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}

.panel-title {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.75);
}

.modal-content {
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
  .submit {
    font-family: 'Monoton', cursive;
    padding: 1em;
    border-radius: 6px;
  }
}

.controls, .table {
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
  margin-top: 10px;
}

.controls {
  padding-top: 10px;
  padding-bottom: 10px;
}

.slider {
  margin-top: 10px;
  margin-bottom: 10px;
}

// #bpmKeyFilter {
//   margin-top: 5px;
// }

footer {
  position:fixed;
  height:70px;
  bottom:0px;
  left:0px;
  right:0px;
  margin-top: 2em;
  margin-bottom:0px;
  background-color: rgba(255, 255, 255, 0.25);
  p {
    padding: 2em 1em 1em 2em;
    height: 1em;
    font-family: 'Monoton', cursive;
  }
}

#message a {
  color: red;
  font-weight: bold;
}

input#searchInput.form-control{
  width: 200px;
}

ul#searchbar.dropdown-menu {
  left: 46%;
}

ul#tp.dropdown-menu {
  min-width: 100px;
}

ul.nav.nav-pills.nav-justified {
  margin-bottom: 1em;
}

.clear {
  clear: both;
  margin-bottom: 10px;
  button, #keyinput, #key {
    float: left;
    margin-right: 1px;
  }
}

@media (max-width:480px) {
  #songsButton {
    width: 50%;
    float: left;
  }
}

@media (max-width:767px) {
  a.navbar-brand {
    display: none;
  }
}

@media (max-width:800px) {
  a.glyphicon.glyphicon-user {
    display: none;
  }
}
