h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 0px;
  margin-bottom: 10px;
}

th {
  text-align: center;
}

.navbar-default, .page-header {
  background-color: rgba(255, 255, 255, 0.75);
  margin-bottom: 0px;
}

body {
  background-image: url('/img/bg.jpg');
}

.page-header {
  text-align: center;
  margin-top: 0px;
}

.jumbotron {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.75);
  margin-top: 70px;
}

.panel-title {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.75);
}

#loginBody {
  margin: 0 auto;
  margin-top: 70px;
  // width: 35%;
  .panel.panel-default {
    background-color: rgba(255, 255, 255, 0.75);
    text-align: center;
    height: 150px;
    width: 500px;
    // button {
    //   margin-bottom: 10px;
    // }
  }
}

.flightCase {
  float: left;
  background-image: url('/img/flightCase.png');
  background-size: cover;
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;
  padding: 5% 0;
  h3{

    text-shadow: 3px 3px 1px black;
    vertical-align: middle;
    padding: 10% 0;
    a {
      color: white;
    }
  }

}

// .controls {
//   position: fixed;
// }


// #showTable {
//   margin:0 auto;
//   width: 83%;
// }

.controls, .table {
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
  margin-top: 10px;
}

.slider {
  margin-top: 10px;
  margin-bottom: 10px;
}

#bpmKeyFilter {
  margin-top: 5px;
  margin-bottom: 10px;
}
