nav.navbar.navbar-default(role='navigation')
  .container-fluid
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.collapse.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/') DJ List

        ul.nav.navbar-nav.collapse.navbar-collapse
          li
            if (user)
              a(href='/lists') Song Search

          li
            if (user)
              a(href='/playlists') Playlists

      ul.nav.navbar-nav.navbar-right.collapse.navbar-collapse
        li
          if (user)
            a(href='#').glyphicon.glyphicon-user #{user.email}
        li
          if (user)
            form(method='POST', action='/logout')
              button.btn.btn-default.btn-sm logout
