nav.navbar.navbar-default(role='navigation')
  .container-fluid
    a.navbar-brand.pull-left(data-target='#') DJ List
      
    ul.nav.navbar-nav.pull-right
      li#message
      if (user)
        li
          form(method='POST', action='/logout')
            button.btn.btn-link logout
