doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0') 
    meta(charset='utf-8')
    link(rel='shortcut icon', href='/img/favicon.ico')
    title= title
    link(href='/assets/app.css', rel='stylesheet')
    link(href='/less/app.css', rel='stylesheet')
  body
    include navigation
    block content

    script(type='module', src='/assets/app.js')

    block scripts
