doctype html
html(ng-app='dj-list')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0') 
    meta(charset='utf-8')
    link(rel='shortcut icon', href='/img/favicon.ico')
    title= title
    link(href="/jquery-ui/jquery-ui.min.css", rel="stylesheet")
    link(href='/bootstrap/css/bootstrap.css', rel='stylesheet')
    link(href='/css/jquery.nouislider.css', rel='stylesheet')
    link(href='/less/app.css', rel='stylesheet')
  body
    include navigation
    block content
    include footer
    include google_analytics  
    script(src='/js/vendor/angular.js')  
    script(src='/js/vendor/jquery-2.1.1.js')
    script(src="/jquery-ui/jquery-ui.min.js")
    script(src='/js/vendor/lodash-2.4.1.js')
    script(src='/js/vendor/moment-2.6.0.js')
    script(src='/js/vendor/traceur.js')
    script(src='/js/vendor/wNumb.min.js')
    script(src='/js/vendor/jquery.nouislider.all.min.js')
    script(src='/js/vendor/jquery.liblink.js')
    script(src='/js/es6/compiled/main.js')
    script(src='/bootstrap/js/bootstrap.min.js')

    block scripts
