.controls.col-md-3
  ul( class='nav nav-pills nav-justified', role='tablist')
    li.active
      a(href='#')#songsButton Songs
    li
      a(href='#')#playlistsButton Playlists
  #songControls
    .genres
      label Hip-Hop
      input(type='checkbox', value='Hip-Hop')
      label Soul
      input(type='checkbox', value='Soul')
      label Jazz
      input(type='checkbox', value='Jazz')
      label Rock
      input(type='checkbox', value='Rock')
      label Pop
      input(type='checkbox', value='Pop')
      label Melodiya
      input(type='checkbox', value='Melodiya')
      label OST
      input(type='checkbox', value='OST')
      label Electronic
      input(type='checkbox', value='Electronic')
      label Battle
      input(type='checkbox', value='Battle')
      label 45 King
      input(type='checkbox', value='45 King')
      label Beats
      input(type='checkbox', value='Hip-Hop Instrumental')

    .slider

    .clear
      button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown') Filter
        span.caret
      ul.dropdown-menu
        li
          a(href='')#bpmFilter Genre by BPM
        li
          a(href='')#keyFilter Genre by Key
      .input-group#keyinput
        select.form-control#key
          option AbM
          option abm
          option AM
          option am
          option BbM
          option bbm
          option BM
          option bm
          option CM
          option cm
          option C#M
          option c#m
          option DM
          option dm
          option EbM
          option ebm
          option EM
          option em
          option FM
          option fm
          option F#M
          option f#m
          option GM
          option gm
          option G#M
          option g#m
      button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown') Transpose
        span.caret
      ul#tp.dropdown-menu
        li(value='-1')
          a(href='#').transpose -1
        li(value='1')
          a(href='#').transpose +1
        li(value='-2')
          a(href='#').transpose -2
        li(value='2')
          a(href='#').transpose +2
        li(value='-3')
          a(href='#').transpose -3
        li(value='3')
          a(href='#').transpose +3
        li(value='-4')
          a(href='#').transpose -4
        li(value='4')
          a(href='#').transpose +4
        li(value='-5')
          a(href='#').transpose -5
        li(value='5')
          a(href='#').transpose +5


      button.btn.btn-default#bpmKeyFilter Search

  #playlistsIndexControls(style='display: none')
    .input-group
      input.form-control(type='text', name='name', id='name', placeholder='check songs, enter name')
      span.input-group-btn
        button.btn.btn-default(type='button')#createPlaylist Create Playlist
  ul#playlists.list-group
  #showPlaylistControls(style='display: none')
    button.btn.btn-default(type='button')#deleteSong remove selected songs
    button.btn.btn-default#deletePlaylist(type='button') Delete Playlist
