.col-sm-3(ng-controller="ControlsController as controls")
  ul( class='nav nav-pills nav-justified', role='tablist')
    li(ng-class="{ active:controls.isSelected('songs')}")
      a(data-target ng-click="controls.selectTab('songs')")#songsButton Songs
    li(ng-class="{ active:controls.isSelected('playlists')}")
      a(data-target ng-click="controls.selectTab('playlists')")#playlistsButton Playlists
  .container(ng-show="controls.tab === 'songs'" ng-controller="SongController as songs")
    .row.songs
      .btn-group
        button.btn.btn-default(type='button', data-toggle='modal', data-target='#genres')#genrebutton Pick Genres
        button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown') Filter
            span.caret
          ul.dropdown-menu
            li
              a(data-target='#')#genreFilter Checked Genres
            li
              a(data-target='#')#bpmFilter Genres by BPM
            li
              a(data-target='#')#keyFilter Genres by Key

    .row.songs
      .input-group#keyinput
        select(ng-model="songs.key").form-control#key
          option AbM
          option abm
          option AM
          option am
          option BbM
          option bbm
          option BM
          option bm
          option CM
          option cm
          option C#M
          option c#m
          option DM
          option dm
          option EbM
          option ebm
          option EM
          option em
          option FM
          option fm
          option F#M
          option f#m
          option GM
          option gm
          option G#M
          option g#m
        span.input-group-btn
          button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')#transpose Transpose
              span.caret
          ul#tp.dropdown-menu
            li(value='-1')
              a(data-target='#').transpose -1
            li(value='1')
              a(data-target='#').transpose +1
            li(value='-2')
              a(data-target='#').transpose -2
            li(value='2')
              a(data-target='#').transpose +2
            li(value='-3')
              a(data-target='#').transpose -3
            li(value='3')
              a(data-target='#').transpose +3
            li(value='-4')
              a(data-target='#').transpose -4
            li(value='4')
              a(data-target='#').transpose +4
            li(value='-5')
              a(data-target='#').transpose -5
            li(value='5')
              a(data-target='#').transpose +5
    .row.songs
      .slider(ng-model="songs .BPM")
        label BPM

    .row.songs
      button.btn.btn-default.btn-lg#bpmKeyFilter Search by Genre/Key/BPM
    
    .row.songs
      .input-group
        input.form-control(type='text', name='search', placeholder='Artist, Album, Song')#searchInput
        .input-group-btn
          button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown') search by
              span.caret
            ul#searchbar.dropdown-menu(role='menu')
              li
                a(data-target='#')#artistSearch Artist
              li
                a(data-target='#')#albumSearch Album
              li
                a(data-target='#')#songSearch Song    
      
    .row.songs
      .btn-group
        button.btn.btn-default(type='button' data-toggle='modal', data-target='#createSong') New Song
        button.btn.btn-default(type='button')#editSongBtn Edit Song          
  .container(ng-show="controls.tab === 'playlists'")        
    .row.playlistsIndex
      .input-group
        input.form-control(type='text', name='name', id='name', placeholder='check songs, enter name')
        span.input-group-btn
          button.btn.btn-default(type='button')#createPlaylist Create Playlist
    .row      
      ul#playlists.list-group
      
    .row.playlistsShow
      .btn-group
        button.btn.btn-default(type='button')#deleteFromPlaylist Remove Songs 
    .row.playlistsShow
      .input-group
        input.form-control(type='text', id='editPlaylistName')
        span.input-group-btn
          button.btn.btn-default(type='button')#renamePlaylist Rename Playlist
    .row.playlistsShow   
      button.btn.btn-small.btn-warning#deletePlaylist(type='button') Delete Playlist
  button.btn.btn-default(ng-click="controls.selectTab('hide')")#controlsToggle show / hide controls    
