div(class='modal fade', id='genres', tabindex='-1', role='dialog')
      .modal-dialog
        .modal-content
          .modal-header(style='text-align: center;')
            button.close(type='button', data-dismiss='modal') &times;
            h3.modal-title#myModalLabel Select Genres to Search
          .modal-body.genres.container
            .row
              .col-xs-4
                label Hip-Hop
                input(type='checkbox', value='Hip-Hop')
              .col-xs-4
                label Soul
                input(type='checkbox', value='Soul')
              .col-xs-4
                label Jazz
                input(type='checkbox', value='Jazz')
            .row
              .col-xs-4
                label Rock
                input(type='checkbox', value='Rock')
              .col-xs-4
                label Pop
                input(type='checkbox', value='Pop')
              .col-xs-4
                label Melodiya
                input(type='checkbox', value='Melodiya')
            .row
              .col-xs-4
                label OST
                input(type='checkbox', value='OST')
              .col-xs-4
                label Electronic
                input(type='checkbox', value='Electronic')
              .col-xs-4
                label Battle
                input(type='checkbox', value='Battle')
            .row
              .col-xs-4
                label 45 King
                input(type='checkbox', value='45 King')
              .col-xs-4
                label Beats
                input(type='checkbox', value='Hip-Hop Instrumental')
