extends ../shared/template

block content
  include modal
  if (!user)
    .jumbotron
      h1= title
      h2 Curated Hip-Hop Database
      h3 A better way to search for the perfect beat
      button.btn.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='#registermodal') Register
      button.btn.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='#signinmodal') Sign In
  if (user)
    include controls
    include songs
    include newsong
  footer
    p &copy 2014 Will Daly. All Rights Reserved.
  script.
    (function(i,s,o,g,r,a,m){
      i['GoogleAnalyticsObject']=r;
      i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)
      },
      i[r].l=1*new Date();
      a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];
      a.async=1;
      a.src=g;
      m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-55811801-1', 'auto');
    ga('send', 'pageview');
