extends ../shared/template

block content
  include modal
  .jumbotron
    h1= title
    h2 Curated Hip-Hop Database
    h3 A better way to search for the perfect beat
    button.btn.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='#registermodal') Register
    button.btn.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='#signinmodal') Sign In
