extends ../shared/template

block content
  .jumbotron
    h1= title
    h2 Curated Hip-Hop Database
    h3 A better way to search for the perfect beat
    //- h3 Find songs that match the tempo and key of your mix or beat
    a.btn.btn-primary.btn-lg(href='/login')#loginOrRegister login or register
