div(class='modal fade', id='createSong', tabindex='-1', role='dialog')
      .modal-dialog
        .modal-content
          .modal-header(style='text-align: center;')
            button.close(type='button', data-dismiss='modal') &times;
            h4.modal-title#myModalLabel Add a song to the database
          .modal-body
            .input-group
              span.input-group-addon BPM
              input.form-control(type='number', name='BPM')#newSongBPM
            .input-group
              span.input-group-addon Key
              select.form-control#newSongKey
                option AbM
                option abm
                option AM
                option am
                option BbM
                option bbm
                option BM
                option bm
                option CM
                option cm
                option C#M
                option c#m
                option DM
                option dm
                option EbM
                option ebm
                option EM
                option em
                option FM
                option fm
                option F#M
                option f#m
                option GM
                option gm
                option G#M
                option g#m
            .input-group
              span.input-group-addon Song
              input.form-control(type='text', name='Song')#newSongName
            .input-group
              span.input-group-addon Artist
              input.form-control(type='text', name='Artist')#newSongArtist
            .input-group
              span.input-group-addon Album
              input.form-control(type='text', name='Album')#newSongAlbum
            .input-group
              span.input-group-addon Genre
              select.form-control#newSongGenre
                option Hip-Hop
                option Soul
                option Jazz
                option Rock
                option Pop
                option Melodiya
                option OST
                option Electronic
                option Battle
                option 45 King
                option Hip-Hop Instrumental
          .modal-footer
            button.submit.btn.btn-info#createNewSong Add song
