.col-sm-9
  table.table.table-bordered.table-hover.table-condensed#selectable
    thead
      tr
        th(style='display: none')#orderTableHead order
        th bpm
        th key
        th song
        th artist
        th album
        th genre
    tbody#searchResults
