.col-sm-9
  table.table.table-bordered.table-hover.table-condensed#selectable(ng-controller="SongController as songs")
    thead
      tr
        th(ng-show="songs.songs.order") order
        th bpm
        th key
        th song
        th artist
        th(ng-show="songs.songs.Album") album
        th genre
    tbody#searchResults
      tr(ng-repeat="song in songs.songs.songs | orderBy:['BPM', 'Key']")
        td(ng-show="song.order")
        td {{song.BPM}}
        td {{song.Key}}
        td {{song.Song}}
        td {{song.Artist}}
        td(ng-show="song.Album") {{song.Album}}
        td {{song.genre}}       
