.controls.col-md-3
  #songControls
    .genres
      label Hip-Hop
      input(type='checkbox', value='Hip-Hop')
      label Soul
      input(type='checkbox', value='Soul')
      label Jazz
      input(type='checkbox', value='Jazz')
      label Rock
      input(type='checkbox', value='Rock')
      label Pop
      input(type='checkbox', value='Pop')
      label Melodiya
      input(type='checkbox', value='Melodiya')
      label OST
      input(type='checkbox', value='OST')
      label Electronic
      input(type='checkbox', value='Electronic')
      label Battle
      input(type='checkbox', value='Battle')
      label 45 King
      input(type='checkbox', value='45 King')
      label Beats
      input(type='checkbox', value='Hip-Hop Instrumental')

    .slider
    .input-group#slowbpm
      span.input-group-addon slowest bpm
      input.form-control#lowBPM(type='number')
      span.input-group-btn
        button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown') Transpose
          span.caret
        ul#tp.dropdown-menu
          li
            a(href='#')#minusOne -1
          li
            a(href='#')#plusOne +1
          li
            a(href='#')#minusTwo -2
          li
            a(href='#')#plusTwo +2
          li
            a(href='#')#minusThree -3
          li
            a(href='#')#plusThree +3
          li
            a(href='#')#minusFour -4
          li
            a(href='#')#plusFour +4
          li
            a(href='#')#minusFive -5
          li
            a(href='#')#plusFive +5

    .input-group#fastbpm
      span.input-group-addon fastest bpm
      input.form-control#highBPM(type='number')
      span.input-group-btn
        button.btn.btn-default(type='button')#bpmFilter BPM filter

    .input-group#keyinput
      span.input-group-addon select key
      select.form-control#key
        option AbM
        option abm
        option AM
        option am
        option BbM
        option bbm
        option BM
        option bm
        option CM
        option cm
        option C#M
        option c#m
        option DM
        option dm
        option EbM
        option ebm
        option EM
        option em
        option FM
        option fm
        option F#M
        option f#m
        option GM
        option gm
        option G#M
        option g#m
      span.input-group-btn
        button.btn.btn-default(type='button')#keyFilter key filter

    button.btn.btn-default.btn-lg#bpmKeyFilter Search

  #playlistControls(style='display: none')
    .input-group
      input.form-control(type='text', name='name', placeholder='check songs, enter name')#name
      span.input-group-btn
        button.btn.btn-default(type='button')#saveSet Create Playlist
    .input-group
      select.form-control#playlistId
        option check songs, select playlist
        if (playlists)
          each playlist in playlists
            option(value='#{playlist._id}')= playlist.name
      span.input-group-btn
        button.btn.btn-default(type='button')#addToPlaylist Add
