extends ../shared/template

block content
  include controls
  include newsong
  .col-md-9
    table.table.table-bordered.table-hover.table-condensed
      thead
        tr
          th.glyphicon.glyphicon-ok
          th bpm
          th key
          th song
          th artist
          th album
          th genre
      tbody#searchResults
