extends ../shared/template

block content
  .controls.col-md-3
    .genres
      label Rap
      input(type='checkbox', value='Hip-Hop')
      label Soul
      input(type='checkbox', value='Soul')
      label Jazz
      input(type='checkbox', value='Jazz')
      label Rock
      input(type='checkbox', value='Rock')
      label Pop
      input(type='checkbox', value='Pop')
      label Melodiya
      input(type='checkbox', value='Melodiya')
      label OST
      input(type='checkbox', value='OST')
      label Electronic
      input(type='checkbox', value='Electronic')
      label Battle
      input(type='checkbox', value='Battle')
      label 45 King
      input(type='checkbox', value='45 King')
      label Instrumentals
      input(type='checkbox', value='Instrumentals')
      button.btn.btn-default.btn-sm#genreFilter genre filter
    .slider
    .input-group
      span.input-group-addon slowest bpm
      input.form-control#lowBPM

    .input-group
      span.input-group-addon fastest bpm
      input.form-control#highBPM
      span.input-group-btn
        button.btn.btn-default(type='button')#bpmFilter BPM filter

    .input-group
      span.input-group-addon select key
      select.form-control#key
        option AbM
        option abm
        option AM
        option am
        option BbM
        option bbm
        option BM
        option bm
        option CM
        option cm
        option C#M
        option c#m
        option DM
        option dm
        option EbM
        option ebm
        option EM
        option em
        option FM
        option fm
        option F#M
        option f#m
        option GM
        option gm
        option G#M
        option g#m
      span.input-group-btn
        button.btn.btn-default(type='button')#keyFilter key filter



    button.btn.btn-default.btn-lg#bpmKeyFilter Search

    .input-group
      //- span.input-group-addon transpose
      input.form-control(type='number', name='transpose', min='-5', max='5', placeholder='add song, select +/- semitone')#transpose
      span.input-group-btn
        button.btn.btn-default(type='button')#transposeFilter Transpose

    .input-group
      span.input-group-addon.glyphicon.glyphicon-search
      input.form-control(type='text', name='search', placeholder='Artist, Album, Song')#searchInput
      span.input-group-btn
        button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown') search by
          span.caret
        ul.dropdown-menu
          li
            a(href='#')#artistSearch Artist
          li
            a(href='#')#albumSearch Album
          li
            a(href='#')#songSearch Song
    hr
    .input-group
      //- span.input-group-addon Playlist
      input.form-control(type='text', name='name', placeholder='enter name, add songs')#name
      span.input-group-btn
        button.btn.btn-default(type='button')#saveSet Create Playlist
    .input-group
      select.form-control#playlistId
        option select playlist and songs
        if (playlists)
          each playlist in playlists
            //- option= playlist.name
            option(value='#{playlist._id}')= playlist.name
      span.input-group-btn
        button.btn.btn-default(type='button')#addToPlaylist Add
    #message
    br

  .col-md-9
    table.table.table-bordered.table-hover.table-condensed
      thead
        tr
          th.glyphicon.glyphicon-ok
          th bpm
          th key
          th song
          th artist
          th album
          th genre
      tbody#searchResults
